body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
/** Header **/
#header-nav{
    background-color: #f6b319 !important;
    border: 0;
    border-radius: 0;
    margin-bottom: 15px;
}

#logo-img{
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand h1{
    font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #557c3e;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #2222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 15px;
}
.navbar-brand span{
    vertical-align: middle;
}
#navbarNavAltMarkup ul{
    margin-top: 5px;
    padding: 0;
}
#navbarNavAltMarkup ul a{
    color: #951c49;
    text-align: center;
}
#navbarNavAltMarkup ul a:hover{
    background: #E7E7E7;
}
#navbarNavAltMarkup ul a span{
    font-size: 1.8em;
}
#phone{
    margin-top: 5px;
}
#phone a{
    padding-bottom: 0;
}
#phone div{
    color: #557c3e;
    padding-right: 15px;
    text-align: center;
}
.navbar button.navbar-toggler,
.nav-header .navbar-toggler-icon{
    border: 1px solid #61122f;
    background: #E7E7E7;
}
#call-btn a{
    display: block;
    text-decoration: none;
    background: #f6b319;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    font-size: 1.5em;
    color: #61122f;
}
#call-btn div{
    text-align: center;
    margin-bottom: 15px;
}
.jumbotron{
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
    padding: 0;
}
#menu-tile, #map-tile, #special-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    border: 2px solid #3f0c1f;
    border-radius: 5px;
}
#menu-tile:hover, #map-tile:hover, #special-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#home-tiles #menu-tile{
    background: url("../images/menu-tile.jpg") no-repeat center;
}
#home-tiles #special-tile{
    background: url("../images/specials-tile.jpg") no-repeat center;
}
#menu-tile span, #map-tile span, #special-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #000;
    opacity: 0.7;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
}
.card-footer{
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 30px;
    background: #222;
    border-top: 0;
}
.card-footer div.row{
    margin-bottom: 35px;
}
#hours, #address{
    line-height: 2;
}
#hours > span, #address > span{
    font-size: 1.3em;
}
#address p{
    color: #557c3e;
    font-size: 0.8em;
    line-height: 1.8;
}
#testmonial{
    font-style: italic;
}
#testmonial p:nth-of-type(2){
    margin-top: 25px;
}
.category-tile{
    margin: 50px auto 0 auto;
    overflow: hidden;
    width: 200px;
    border: 1px solid #000;
}

.category-tile:hover{
    box-shadow: 0 1px 5px 1px #ccc;
}
.category-tile span{
    display: block;
    background: #000;
    text-align: center;
    width: 200px;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
.single-item{
    margin-top: 40px;
    display: flex;
}
.single-item-img{
    position: relative;
    width: 250px;
    /*height: 150px;*/
}
.single-item-img span{
    position: absolute;
    bottom: 0;
    padding: 5px 8px;
    background: #222;
    border-radius: 50%;
    right: 0;
}

.menu-item-tile{
    margin-bottom: 25px;
    margin-top: 25px;
}
.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-right: -15px;
    margin-top: -15px;
}
.menu-item-tile .menu-item-price span{
    font-size: 0.6em;
}
.menu-item-photo{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    text-align: center;
    background-color: #557c3e;
}
.menu-item-description{
    padding-right: 30px;
}
h3.menu-item-title{
    margin: 0 0 10px;
}
.menu-item-details{
    font-size: 0.9em;
    font-style: italic;
}
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .jumbotron{
        background: url("../images/jumbotron_768.jpg");
        height: 432px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
    #call-btn{
        display: block !important;
    }
    #menu-tile, #special-tile{
        width: 280px;
        margin: 0 auto 15px;
    }
    #navbar-brand h1{
        padding-top: 5px;
        font-size: 5vm;
    }
    .card-footer hr,
    hr{
        width: 80%;
        display: block !important;
        height: 1px;
        background: #E7E7E7;
    }
    .menu-item-photo{
        margin: auto;
    }
    .menu-item-tile .menu-item-price{
        text-align: center;
        margin-top: 0;
    }
    .menu-item-description{
        text-align: center;
    }
}

/*Small devices (landscape phones, 576px and up)*/

@media (max-width: 767px) {
    #navbarNavAltMarkup ul li{
        width: 100%;
    }
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1{
        padding-top: 10px;
        font-size: 5vw;
    }
    .navbar-brand p{
        text-transform: uppercase;
        font-size: 0.6em;
        margin-top: 12px;
    }
    .navbar-brand p img{
        height: 20px;
    }
    #navbarNavAltMarkup ul a{
        font-size: 1.2em;
    }
    #navbarNavAltMarkup ul a span{
        font-size: 1em;
        margin-right: 5px;
    }
    .card-footer section{
        text-align: center;
        margin-bottom: 30px;
    }
    .card-footer section:nth-child(3){
        margin-bottom: 0;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #navbarNavAltMarkup ul li{
        width: 100%;
    }
    #logo-img{
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    .jumbotron{
        background: url("../images/jumbotron_768.jpg");
        height: 432px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand h1{
        font-size: 1.25em;
    }
    #navbarNavAltMarkup ul {
        margin-top: -90px;
    }
    #phone {
        margin-top: -35px;
    }
    .jumbotron{
        background: url("../images/jumbotron_992.jpg");
        height: 558px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
    #phone a, #phone div{
        text-align: right !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #navbarNavAltMarkup ul {
        margin-top: -90px;
    }
    #phone {
        margin-top: -35px;
    }
    .jumbotron{
        background: url("../images/jumbotron_1200.jpg");
        height: 675px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
    #phone a, #phone div{
        text-align: right !important;
    }

}
